@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
body{
    font-family: "Merienda", cursive;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header,footer{
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 1rem;

}

header h1,
footer p{
    margin: 0;
}
footer a{
    color: #ff6347;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
search-input{
    font-family: "Merienda", cursive;
    padding: 1rem;
    font-size: 1 rem;
    width: 80%;
    margin-bottom: 1rem;
    max-width: 600px;
    border: none;
    border-radius: 5px;
    outline: none;
}
button{
    font-family: "Merienda", cursive;
    background-color: #ff6347;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow:e
}
